name: Format Code (Spotless)

on: push

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  code-formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
            java-version: '21'
            distribution: 'corretto'
            cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Spotless
        run: gradle spotlessApply --no-daemon

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Apply Spotless formatting
          commit_options: '--no-verify'
          repository: .
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
          commit_author: GitHub Actions <actions@github.com>
