name: Run Tests (Jest)

on: push

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  app-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: ./docker_images
          key: ${{ runner.os }}-docker-${{ hashFiles('docker-compose.yml') }}
          restore-keys: |
            ${{ runner.os }}-docker-

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
            java-version: '21'
            distribution: 'corretto'
            cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
            gradle-version: '8.12'

      - name: Install Dependencies
        run: gradle dependencies --no-daemon

      - name: Run Junit
        run: gradle test --no-daemon
