name: Run Tests

on: push

permissions:
  contents: write

defaults:
  run:
    working-directory: ./

jobs:
  app-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache Docker layers
        uses: actions/cache@v5
        with:
          path: ./docker_images
          key: ${{ runner.os }}-docker-${{ hashFiles('docker-compose.yml') }}
          restore-keys: |
            ${{ runner.os }}-docker-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
            java-version: '21'
            distribution: 'corretto'
            cache: gradle

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
            gradle-version: '8.12'

      - name: Install Dependencies
        run: gradle dependencies --no-daemon

      - name: Run Junit
        run: gradle test --no-daemon

      - name: Upload Reports
        uses: mridang/action-test-reporter@v3
        with:
          results-path: build/reports/tests/test/*.xml
          coverage-path: build/reports/jacoco/test/jacoco.xml
